
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.itm.edu.co/">
            ITM
          </a>
        </li>
        <li>
          <a href="https://www.itm.edu.co/">
            About Us
          </a>
        </li>
        <li>
          <a href="https://www.itm.edu.co/">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Hecho por
      <a href="https://www.itm.edu.co/" target="_blank">Santiago Ospina, Paula Jimenez, Miguel Angel Mejia</a>.
    </div>
  </div>
</footer>
